
/* Page 1 */

.page-1 {
  background-image: url("../assets/front\ \(3\).avif");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  font-family: var(--font-family-montserrat);
}


.page-1 .left-part {
  min-height: inherit;
  width: 65%;
  background-color: #e108087c;
  justify-content: space-between;
  padding-left: 20px;
}

.page-1 .top-part {
  min-height: 100%;
}


.page-1 .content {
  max-height: inherit;
  justify-content: space-around;
  width: 70%;
}

.page-1 .logo-part {
  align-self: flex-start;
  margin-bottom: auto;
  margin-left: -40px;
}

.page-1 .logo-part img {
  width: 100%;
  height: auto;
  max-width: 150px;
  object-fit: contain;
}

.page-1 .content-part {
  margin-bottom: auto;
}

.page-1 .content-part .head {
  font-size: 18px;
  word-break: break-all;
  margin-bottom: 7px;
}
.page-1 .content-part .line {
  width: 80%;
  border: 1.5px solid #fff;
  margin-left: -20px;
  margin-bottom: 10px;
}

.intro-text {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  margin-right: 10px;
  font-size: smaller;
}
 
.page-1 .country {
  font-size: 100px;
  width: 20px;
  line-height: 0.9;
  justify-content: center;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 20px 0 0 10px;
}
.page-1 .dot {
  margin-top: 10px;
  font-size: 56px;
  padding-left: 5px;
}

.page-1 .bottom-part {
  margin-bottom:20px;
}

.page-1 .bottom-part .line {
  width: 300px;
  border: 1.5px solid #fff;
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .part-1 .bottom-part .line {
    width: 200px;
  }
}


.page-1 .right-part {
  position: relative;
  margin-left: 30%;
  right: 0;
  min-height: stretch; 
  width: 20%;
  color: #e108087c;
  background-color: #e108087c;
}
