/* Page 2 */

.page-2 {
  background-image: url("../assets/sakuara.avif");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  font-family: var(--font-family-montserrat);
}

.page-2 .left-part {
    max-width: 65%;
    min-height: stretch;
    /* height: 100%; */
    font-size: smaller;
    background-color: #e10808a8;
    justify-content: space-between;
    padding-right: 10px;    
}

.page-2 .logo-part {
  align-self: flex-start;
  margin-top: auto;
}

.page-2 .logo-part img {
  width: 100%;
  height: auto;
  max-width: 150px;
  object-fit: contain;
}

.page-2 .top-part {
    margin: 30px 0 0 30px;
}

.page-2 .head {
  font-weight: 900 !important;
  font-size: large;
}
.page-2 .line {
    border: 2px solid #fff;
    margin-left: -30px;
    width: 90%;
}

.page-2 .table-of-content {
    margin-top: 10px;
    margin-left: 17px;
    line-height: 1.4;
}

.page-2 .sub-head {
    font-weight: bold;;
    font-size: medium;
}

.page-2 .sub-list {
    margin-left: 20px;
}
