
/* Page 1 */

.page-1 {
  background-image: url("../assets/front\ \(3\).jpg");
  background-size: cover;
  background-position: center;
  font-family: "Arial", "sans-serif";
  /* overflow-y: hidden; */
}


.page-1 .left-part {
  height: 100%;
  width: 65%;
  background-color: #e108087c;
}


.page-1 .content {
  justify-content: center;
  width: 70%;
}

.page-1 .logo-part {
  position: relative;
  top: 20px;
  left: -40px;
}

.page-1 .logo-part .caption {
  font-size: 7px;
}

.page-1 .logo-part img {
  width: 100%;
  height: auto;
  max-width: 50px;
  object-fit: contain;
}

.page-1 .content-part {
  position: relative;
  top: 40%;
  margin-left: 20px;
}

.page-1 .content-part .head {
  font-size: 18px;
  word-break: break-all;
  /* font-weight: bold; */
  margin-bottom: 10px;
}
.page-1 .content-part .line {
  width: 80%;
  border: 1.5px solid #fff;
  margin-left: -20px;
}


.page-1 .country {
  font-size: 100px;
  position: absolute;
  left: 49vw;
  width: 20px;
  font-weight: bold;
}
.page-1 .country .dot {
  font-size: 60px;
  padding-left: 5px;
}

.page-1 .bottom-part {
  position: relative;
  top: 55%;
  margin-left: 20px;
}

.page-1 .bottom-part .line {
  width: 380px;
  border: 1.5px solid #fff;
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .part-1 .bottom-part .line {
    width: 200px !important;
  }
}


.page-1 .right-part {
  position: relative;
  margin-left: 30%;
  right: 0;
  height: 100%;
  width: 20%;
  color: #e108087c;
  background-color: #e108087c;
}
