.page-4 {
  background-image: url("../assets/front\ \(3\).avif");
  background-size: cover;
  background-position: center;
  color: #000;
  font-family: var(--font-family-gilroy-thin);
}

.page-5 {
  background-image: url("../assets/paulo-doi-6uTQmtqcAzs-unsplash.jpg");
  background-size: cover;
}
.page-6 {
  background-image: url("../assets/nakaharu-line-XrPytbWnFdI-unsplash.avif");
  background-size: cover;
}
.page-7 {
  background-image: url("../assets/tianshu-liu-SBK40fdKbAg-unsplash.jpg");
  background-position: left;
  background-size: cover;
}
.page-8 {
  background-image: url("../assets/shops.jpg");
  background-position: left;
  background-size: cover;
}
.page-9 {
  background-image: url("../assets/tom-brunberg-q_1aQ_jXLr0-unsplash.avif");
  background-position: left;
  background-size: cover;
}
.page-10 {
  background-image: url("../assets/global-residence-index-LPdaW746WAw-unsplash.avif");
  background-size: cover;
}

.page-4 .left-part {
  width: 65%;
  padding: 20px;
  background-color: #fff;
  min-height: stretch;
  /* height: 100%; */
}

.page-4 .second,
.page-4 .third,
.page-4 .fourth {
  width: clamp(20px, 3vw, 35px);
  min-height: stretch; 
  color: #e108083a
}
.page-4 .second {
  background-color: #ff0101ae;
}
.page-4 .third {
  background-color: var(--accent-color);
}
.page-4 .fourth {
  background-color: #e108083a;
}

.page-4 .para {
  font-size: 12px;
}
.page-4 .left-part .line {
  border: var(--black-border) solid #000;
  margin-bottom: 5px;
}
.page-4 .head, .head1, .head2 {
  font-family: var(--font-family-sans);
  font-weight: 900;
}
.page-4 .head3-container {
  text-align: center;
}
.page-4 .fieldset {
  padding: 10px;
}
