/* Page 2 */

.page-2 {
  background-image: url("../assets/sakuara.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Arial", "sans-serif";
}

.page-2 .left-part {
    width: 60%;
    height: 100%;
    background-color: #e108087c;
}

.page-2 .logo-part {
  position: relative;
  top: 300px;
  left: -70px;
  bottom: 0;
}

.page-2 .logo-part .caption {
  font-size: 7px;
}

.page-2 .logo-part img {
  width: 100%;
  height: auto;
  max-width: 50px;
  object-fit: contain;
}



.page-2 .top-part {
    margin-left: 40px;
    position: relative;
    top: 35px;
    margin-left: 30px;
}
.page-2 .line {
    border: 2px solid #fff;
    margin-left: -30px;
    width: 90%;
}

.page-2 .table-of-content-list {
    margin-top: 10px;
    margin-left: 17px;
    line-height: 1.4;
}

.page-2 .sub-head {
    font-weight: bold;;
}

.page-2 .sub-list {
    margin-left: 20px;
}
