.vtgp-page-3 {
    background-image: url('../../assets/vietnam-accomodations-bg.jpeg');
    background-size: cover;
    background-position: center;
    font-family: var(--font-family-montserrat);
}

.vtgp-page-4 { 
    background-image: url('../../assets/vietnam-attractions-bg.jpeg');
    background-position: left;
}

.vtgp-page-5 {
    background-image: url('../../assets/vietnam-dining-bg.jpeg');
}

.vtgp-page-4 .vtgp-left-part {
    background-image: linear-gradient(to right, #02251180, #02251180, transparent);
}
.vtgp-page-5 .vtgp-left-part {
    background-color: #9c87135d;
}

.vtgp-page-6 {
    background-image: url('../../assets/vietnam-transport-bg.jpeg');
}

.vtgp-left-part {
    max-width: 70%;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
    gap: 8px;
    backdrop-filter: blur(5rem);
    --webkit-backdrop-filter: blur(5rem);
}

.vtgp-head {font-size: 1.8rem;}

.vtgp-line {border: 1px solid #fff;}

.vtgp-para {
    font-size: 14px;
    word-wrap: break-word;
}

.vtgp-part-3 {
    gap: .3rem;
}

.fieldset {
    padding: .5rem;
    background-color: #ffffff7e;
    border-radius: .8rem;
}

.fieldset-head {text-align: center; margin-bottom: .3rem;}