.vtgp-page-2 {
    background-image: url('../../assets/vietnam-table-of-content-bg.jpeg');
    background-size: cover;
    background-position: right;
    font-family: var(--font-family-montserrat);
    flex-direction: row;
    justify-content: space-between;
}

.vtgp-right-part, .vtgp-left-part {
    height: stretch;
}

.vtgp-right-part {
    backdrop-filter: blur(3rem);
    --webkit-backdrop-filter: blur(5px);
    max-width: 75%;
    padding: 20px;
    padding-top: 40px;
    justify-content: space-between;
    line-height: 2;
}

.vtgp-2-head {color: #0b4741; font-weight: bolder; line-height: 1;}

.vtgp-table-of-content {
    margin-left: 40px;
}

.vtgp-li-sub-head {font-size: large; font-weight: bolder;}
.vtgp-li-item {margin-left: 20px;}

.vtgp-2-bottom-part {
    align-self: flex-end;
}

.vtgp-logo {
  width: 100%;
  height: auto;
  max-width: 80px;
  object-fit: contain;
}