* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #c3abab;
}

.page {
  width: 100vw;
  height: calc(100vw * 2);
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .page {
    width: 40vw;
    height: calc(40vw * 1.414);
  }
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}